<div class="row">
    <div class="col-lg-8">
        <h1 class="display-4"><a href="/"><img src="/images/npr.jpg"></a> news scraper</h1>
    </div>
    <div class="col-lg-4">
        <a href="/scrape" class="btn btn-lg btn-dark scrape">Scrape New Articles</a>
        <a href="/favorites" id="favorites" class="btn btn-lg btn-outline-dark">Favorites</a>
    </div>
</div>