<div class="container">
    {{> header}}
    <div class="grid-container">
        {{#each Article }}
        {{#if favorite}}
        {{> articles}}
        {{/if}}
        {{/each}}
    </div>
</div>
{{> note}}
<script src="/js/index.js"></script>