<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>NPR News Scraper</h1>
        </div>
        <div class="col-lg-4">
            <button type="button" id="favorites" class="btn btn-outline-dark">Favorites</button>
            <button type="button" id="scrape" class="btn btn-dark">Scrape New Articles</button>
        </div>
    </div>
</div>